################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

DCSSkinManager/bin/
DCSSkinManager/obj/
.vs/
.idea/
/DCSSkinManager.sln.DotSettings
packages/
